body {
    background-color: RGB(33, 41, 54, 0.4);
    margin: 0;
    font-family: Roboto, sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    margin: 0 15px;
}
ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    margin-right: 10px;
   
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(87, 87, 87);
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: rgb(53, 53, 150);
}
/*.navigation-bar {
    background-color: RGB(33, 41, 54);
    display: flex;
    height: 60px;
    border: 2px solid black
}*/

