body {
    background-color: RGB(33, 41, 54, 0.4);
    margin: 0;
    font-family: Roboto, sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    margin: 0 100px;
}
ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    margin-right: 100px;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(87, 87, 87);
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: rgb(53, 53, 150);
}
/*.navigation-bar {
    background-color: RGB(33, 41, 54);
    display: flex;
    height: 60px;
    border: 2px solid black
}*/

.hero-container {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: white;
    align-items: center
}

h1 {
    margin: 0;
}
.hero-info {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: flex-start;
    margin-left: 68px;
}

.gambling-poster {
    margin: 60px;
    
}

