body {
    background-color: RGB(33, 41, 54, 0.4);
    margin: 0;
    font-family: Roboto, sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo {
    margin: 0 100px;
}
ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 20px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    /*font-weight: 600;*/
}

a:link {
    color: rgb(87, 87, 87);
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: rgb(53, 53, 150);
}
/*.navigation-bar {
    background-color: RGB(33, 41, 54);
    display: flex;
    height: 60px;
    border: 2px solid black
}*/

.hero-container {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: white;
    align-items: center
}

h1 {
    margin: 0;
}

button.sign-up-button {
    /*background: RGB(237, 120, 60);*/
    background-image: linear-gradient(to right, #f56434, #fcae40);
    border: 1px solid black;
    color: white;
    cursor: pointer;
    padding: 4px 15px;
    border-radius: 8px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: flex-start;
    margin-left: 68px;
}

.gambling-poster {
    margin: 60px;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 0 70px;
}

h2,
h3 {
    text-align: center;
}

h2 {
    margin-bottom: 0;
    margin-top: 50px;
}

h3 {
    margin-bottom: 60px;
}
.info-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 50px;
}

.info{
    /*max-width: 130px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info img {
    width: 50px;

}

.quote-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quote {
    font-size: 35px;
    font-style: italic;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 200px;

}

.quote-author {
    display: flex;
    padding: 0 100px;

}

