body {
    /*background-color: RGB(33, 41, 54, 0.4);*/
    background-color: white;
    margin: 0;
    font-family: "Inter", sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
}

.logo {
    margin: 10px 100px;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    margin-right: 100px;
}

a {
    text-decoration: none;
    font-weight: 450;
}

a:link {
    color: rgb(87, 87, 87);
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: rgb(53, 53, 150);
}
/*.navigation-bar {
    background-color: RGB(33, 41, 54);
    display: flex;
    height: 60px;
    border: 2px solid black
}*/

.hero-container {
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: RGB(26, 49, 75);
    color: white;
    align-items: center;
}

h1 {
    margin: 0;
}

button.sign-up-button {
    /*background: RGB(237, 120, 60);*/
    background-image: linear-gradient(to right, #f56434, #fcae40);
    border: 1px solid black;
    color: black;
    cursor: pointer;
    padding: 4px 15px;
    border-radius: 8px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-items: flex-start;
    margin-left: 68px;
}

.clouds-poster {
    margin: 60px;
}

.info-container {
    display: flex;
    flex-direction: column;
    padding: 0 70px;
    margin-bottom: 50px;
    background-color: white;
}

h2,
h3 {
    text-align: center;
}

h2 {
    margin-bottom: 0;
    margin-top: 50px;
}

h3 {
    margin-bottom: 60px;
}
.info-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0 50px;
}

.info{
    max-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.info img {
    width: 50px;

}

.quote-container {
    background-color: rgb(181, 202, 209);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px
}

.quote {
    font-size: 30px;
    font-style: italic;
    display: flex;
    justify-content: center;
    text-align: left;
    padding: 0 200px;
}

.quote p,
.quote-author p {
    margin: 0;
}

.quote-author {
    padding: 0 210px;
    text-align: right;
    font-size: 20px;
    font-weight: 700;
}

.sign-container {
    display: flex;
    justify-content: center;
    margin: 60px 80px;

}

.sign-box {
    width: 700px;
    background-color: rgb(153, 153, 153);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-text {
    display: flex;
    flex-direction: column;
    margin: 0 65px;
}

.box-text h3 {
    margin: 30px 0 0 0;
    text-align: left;
}

.box-text p {
    margin: 10px 0 30px 0;
}

.sign-box .sign-up-button {
    margin-right: 65px;
}

.footer {
    display: flex;
    height: 72px;
    background: RGB(26, 49, 75);
    color: white;
    align-items: center;
    justify-content: center;
}
